{% extends "base.html" %}

{% block title %}
Invites
{% endblock title %}


{% block content %}
    {% if is_empty %}
        <h1>No invitation here..</h1>
    {% else %}
        {% for obj in qs %}
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        <div class="three wide column">
                            <img class="ui circular image" src={{obj.avatar.url}} alt="" />
                        </div>
                        <div class="thirteen wide column">
                            <h3>{{obj.user}}</h3>
                            <p>{{obj.bio}}</p>
                            <a href="">
                                <button class="ui primary button mb-5 w-big">
                                    See Profile
                                </button>
                            </a>

                            <form action="{% url 'profiles:accept-invite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                <button type="submit" class="ui positive basic button mt-5 w-big">
                                    <i class="check icon"></i>
                                    Accept invite
                                </button>
                            </form>
                            
                            <form action="{% url 'profiles:reject-invite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                <button type="submit" class="ui negative basic button mt-5 w-big">
                                    <i class="close icon"></i>
                                    Reject invite
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
